body {
	margin: 0;
	font-family: "Nunito", "Arial", "Helvetica", sans-serif;
}

h1 {
	font-family: 'Google Sans';
    font-weight: 500;
    font-size: 96px;
    margin-left: 20px;
    margin-top: 20px;
    color: #111F23;
}

.red {
    color: #FF6562;
    font-weight: 500;
}

.wrapper {
	height: 100vh;
	display: grid;
	grid-template-columns: repeat(2, auto);
	justify-content: center;
	align-content: center;
}

.card {
	width: 300px;
	height: 300px;
	border-radius: 30px;
	display: flex;
	background-color: #FF6562;
	justify-content: center;
	align-items: center;
	font-size: 56px;
	flex-direction: column;
	position: relative;
}

.card h6 {
	margin: 0;
	font-size: 35px;
	font-weight: 500;
	color: #fff;
	font-family: 'Google Sans';
}

.card .like {
	position: absolute;
	font-size: 40px;
	top: 25px;
	right: 25px;
}